<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sqwerpy</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="static/css/freelancer.min.css" rel="stylesheet">
    
    <!-- tables CSS -->
    <link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet">
    
    <!-- amCharts.js -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js" type="text/javascript"></script>
    <link href="https://www.amcharts.com/lib/3/plugins/export/export.css" rel="stylesheet" type="text/css" media="all" />
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>	

    <!-- amChart.js line chart-->
    <script src="https://www.amcharts.com/lib/3/themes/patterns.js" type="text/javascript"></script>
    <script type="text/javascript">

    var chartData = generateChartData();

    var chart = AmCharts.makeChart("chartdiv", {
    "type": "serial",
    "theme": "patterns",
    "legend": {
        "useGraphSettings": true
    },
    "dataProvider": chartData,
    "synchronizeGrid":true,
    "valueAxes": [{
        "id":"v1",
        "axisColor": "#FF6600",
        "axisThickness": 2,
        "axisAlpha": 1,
        "position": "left"
    }, {
        "id":"v2",
        "axisColor": "#FCD202",
        "axisThickness": 2,
        "axisAlpha": 1,
        "position": "right"
    }, {
        "id":"v3",
        "axisColor": "#B0DE09",
        "axisThickness": 2,
        "gridAlpha": 0,
        "offset": 50,
        "axisAlpha": 1,
        "position": "left"
    }, {
        "id":"v4",
        "axisColor": "#0000E5",
        "axisThickness": 2,
        "gridAlpha": 0,
        "offset": 50,
        "axisAlpha": 1,
        "position": "right"
    }],
    "graphs": [{
        "valueAxis": "v1",
        "lineColor": "#FF6600",
        "bullet": "round",
        "bulletBorderThickness": 1,
        "hideBulletsCount": 30,
        "title": "ASX1",
        "valueField": "a",
		"fillAlphas": 0
    }, {
        "valueAxis": "v2",
        "lineColor": "#FCD202",
        "bullet": "square",
        "bulletBorderThickness": 1,
        "hideBulletsCount": 30,
        "title": "ASX2",
        "valueField": "b",
		"fillAlphas": 0
    }, {
        "valueAxis": "v3",
        "lineColor": "#B0DE09",
        "bullet": "triangleUp",
        "bulletBorderThickness": 1,
        "hideBulletsCount": 30,
        "title": "ASX3",
        "valueField": "c",
		"fillAlphas": 0
    }, {
        "valueAxis": "v4",
        "lineColor": "#0000E5",
        "bullet": "triangleUp",
        "bulletBorderThickness": 1,
        "hideBulletsCount": 30,
        "title": "ASX4",
        "valueField": "d",
		"fillAlphas": 0
        }],
    "chartScrollbar": {},
    "chartCursor": {
        "cursorPosition": "mouse"
    },
    "categoryField": "date",
    "categoryAxis": {
        "parseDates": true,
        "axisColor": "#DADADA",
        "minorGridEnabled": true
    },
    "export": {
    	"enabled": true,
        "position": "bottom-right"
     }
});

chart.addListener("dataUpdated", zoomChart);
zoomChart();


// generate some random data, quite different range
function generateChartData() {
    var chartData = {{ comparison|safe }};
    return chartData;
}

function zoomChart(){
    chart.zoomToIndexes(chart.dataProvider.length - 20, chart.dataProvider.length - 1);
}

    </script>

    <!-- amChart.js candlestick chart-->
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>	
    <script type="text/javascript">
    var cData = {{ qu| safe }};

    var chart = AmCharts.makeChart( "chartdiv2", {
      "type": "serial",
      "theme": "light",
      "dataDateFormat":"YYYY-MM-DD",
      "valueAxes": [ {
        "position": "left"
      } ],
      "graphs": [ {
        "id": "g1",
        "proCandlesticks": true,
        "balloonText": "Open:<b>[[open]]</b><br>Low:<b>[[low]]</b><br>High:<b>[[high]]</b><br>Close:<b>[[close]]</b><br>",
        "closeField": "close",
        "fillColors": "#7f8da9",
        "highField": "high",
        "lineColor": "#7f8da9",
        "lineAlpha": 1,
        "lowField": "low",
        "fillAlphas": 0.9,
        "negativeFillColors": "#db4c3c",
        "negativeLineColor": "#db4c3c",
        "openField": "open",
        "title": "Price:",
        "type": "candlestick",
        "valueField": "close"
      } ],
      "chartScrollbar": {
        "graph": "g1",
        "graphType": "line",
        "scrollbarHeight": 30
      },
      "chartCursor": {
        "valueLineEnabled": true,
        "valueLineBalloonEnabled": true
      },
      "categoryField": "date",
      "categoryAxis": {
        "parseDates": true
      },
      "dataProvider": cData,
      "export": {
        "enabled": true,
        "position": "bottom-right"
      }
    } );

    chart.addListener( "rendered", zoomChart );
    zoomChart();
        
    // this method is called when chart is first inited as we listen for "dataUpdated" event
    function zoomChart() {
      // different zoom methods can be used - zoomToIndexes, zoomToDates, zoomToCategoryValues
      chart.zoomToIndexes( chart.dataProvider.length - 50, chart.dataProvider.length - 1 );
    }
    </script>
    
    
    <!--formden.js communicates with FormDen server to validate fields and submit via AJAX -->
    <script type="text/javascript" src="https://formden.com/static/cdn/formden.js"></script>

    <!-- Special version of Bootstrap that is isolated to content wrapped in .bootstrap-iso -->
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css">

    <!--Font Awesome (added because you use icons in your prepend/append)-->
    <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Custom Fonts -->
    <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">Search</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#latest">Latest</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#historical">Historical</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#summary">News</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="static/img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">Sqwerpy</span>
                        <span class="skills">Simple finance Queries in Python</span>
                        <hr class="star-light">
                    </div>
                    <!-- Inline CSS based on choices in "Settings" tab -->
                    <div class="bootstrap-iso">
                            <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-3 col-sm-offset-1 col-xs-offset-1">
                                <form action="/" class="form-horizontal" method="post">

                                  <!-- Start from Date -->
                                  <div class="form-group col-md-8">
                                  <label class="control-label col-sm-4 requiredField" for="date">From:</label>
                                      <div class="col-sm-8">
                                          <div class="input-group">
                                              <div class="input-group-addon">
                                                  <i class="fa fa-calendar"></i>
                                              </div>
                                              <input class="form-control" id="from-date" name="from-date" placeholder="YYYY-MM-DD" type="text">
                                          </div>
                                      </div>
                                   </div>
                                  <!-- End from Date -->

                                  <!-- Start to Date -->
                                  <div class="form-group col-md-8">
                                  <label class="control-label col-sm-4 requiredField" for="date">To:</label>
                                      <div class="col-sm-8">
                                          <div class="input-group">
                                              <div class="input-group-addon">
                                                  <i class="fa fa-calendar"></i>
                                              </div>
                                          <input class="form-control" id="to-date" name="to-date" placeholder="YYYY-MM-DD" type="text">
                                          </div>
                                      </div>
                                  </div>
                                  <!-- End to date -->
                                  
                                  <!-- Start ASX code -->
                                  <div class="form-group col-md-8">
                                  <label class="control-label col-sm-4 requiredField" for="date">ASX Code:</label>
                                      <div class="col-sm-8">
                                          <div class="input-group">
                                              <div class="input-group-addon">
                                                  <i class="fa fa-bank"></i>
                                              </div>
                                          <input class="form-control" id="keyword" name="keyword" placeholder="CBA" type="text">
                                          </div>
                                      </div>
                                  </div>
                                  <!-- End ASX code -->
                                  
                                  <!-- Start submit -->
                                  <div class="form-group col-md-12">
                                      <div class="col-sm-10">
                                          <input name="_honey" style="display:none" type="text">
                                          <button class="btn btn-primary " name="submit" type="submit">Submit</button>
                                      </div>
                                  </div>
                                  <!-- End submit -->
                                </form>
                            </div>
                    </div>
                <!-- end datepicker -->


                </div>
            </div>
        </div>
    </header>

    <!-- Latest Section -->
    <section id="latest">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>- Latest -</h2>
                </div>
            </div>
            <div class="row">  
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <center><p><i>This section contains the most up-to-date information on your search.</i></p></center><br />
                    <br />
                </div>              
               <!-- company profile start -->
               <div class="name col-md-12">
                    <h4>{{ cn }}<span class="label label-default"> ASX200:{{ cc }}</span></h4>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <h1>   </h1>
                    <h1>   </h1>
                    <p><b>Company Profile</b></p>
                    <div class="panel panel-default">
                            <table class="table">
                                <tr>
                                    <th>Price</th>
                                    <td>AUD${{ late["Price"] }} </td>
                                </tr>
                                <tr>
                                    <th>Change from Previous Price</th>
                                    <td>{{ late["Change from Previous Price"] }} </td>
                                </tr>
                                <tr>
                                    <th>Market Cap</th>
                                    <td>AUD${{ late["Market Cap"] }} </td>
                                </tr>
                                <tr>
                                    <th>Earnings Per Share</th>
                                    <td>{{ late["Earnings Per Share"] }} </td>
                                </tr>
                                <tr>
                                    <th>Price-Earnings Growth Ratio</th>
                                    <td>{{ late["Price-Earnings Growth Ratio"] }} </td>
                                </tr>
                                <tr>
                                    <th>Price-Earnings Ratio</th>
                                    <td>{{ late["Price-Earnings Ratio"] }} </td>
                                </tr>
                                <tr>
                                    <th>Price-Sales Ratio</th>
                                    <td>{{ late["Price-Sales Ratio"] }} </td>
                                </tr>
                                <tr>
                                    <th>Yearly High</th>
                                    <td>AUD${{ late["Yearly High"] }} </td>
                                </tr>
                                <tr>
                                    <th>Yearly Low</th>
                                    <td>AUD${{ late["Yearly Low"] }} </td>
                                </tr>
                                <tr>
                                    <th>Fifty-Day Moving Average</th>
                                    <td>{{ late["Fifty-Day Moving Average"] }} </td>
                                </tr>
                                <tr>
                                    <th>Two Hundred-Day Moving Average</th>
                                    <td> {{ late["Two Hundred-Day Moving Average"] }} </td>
                                </tr>
                                <tr>
                                    <th>Volume</th>
                                    <td>{{ late["Volume"] }}</td>
                                </tr>
                                <tr>
                                    <th>Volume (Avg)</th>
                                    <td>{{ late["Volume (Avg)"] }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                <!-- company profile end -->
                <!-- profile radial graph start -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-offset-1 col-md-offset-1 col-s-offset-1">
                    <h1>   </h1>
                    <h1>   </h1>
                    <p><b>Company Performance</b></p>
                    <p>Coming Soon</p>
                    <h1>   </h1>
                    <h1>   </h1>
                    <p><b>Period Overview</b></p>
                    <div class="well" style="color:#000000; font-size:12px;">
                        <h4>Market Sentiment: <span class="label label-success">Bullish</span></h4>
                        <h4> </h4>
                        <p style = "font-size:16px">For the duration of {{ numdays }} days, stock for company, {{ cn }} <span class="label label-primary">ASX200: {{ cc }}</span> has <span class="label label-success">increased by 5.54%.</span></p>
                        <p style = "font-size:16px">For the given time, it showed relatively <span class="label label-success">low volatility of 8.5%</span>, when compared to the ASX200 average of 18.5%, which is <span class="label label-success">10.0% lower than average</span>. <p>
                        <p style = "font-size:16px">High was achieved on 2/10/2014 and was <span class="label label-success">$AU132.50</span>, lowest price was <span class="label label-danger">$AU146.50</span> on the 1/9/2014. Overall, stock has increased in price 24 times and decreased in price 6 times.<p>
                     </div>
                </div>
                </div>
                <!-- radial graph end -->
                <div class="col-lg-12 col-md-12 col-s-12 col-xs-12">
                    <p> </p>
                    <p> </p>
                    <p><b>Sector Comparison : {{ sec }}</b></p>
                </div>
                <!-- sector comparison start -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div id="chartdiv" style="height:500px; width:100%;"></div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><center><b>Legend</b></center></div>
                            <table class="table">                     
                            <thead>
                                    <td style="font-size:12px"><strong>Graph Label</strong></td>
                                    <td style="font-size:12px; color: #FF6600"><strong>ASX1</strong></td>
                                    <td style="font-size:12px; color: #FCD202"><strong>ASX2</strong></td>
                                    <td style="font-size:12px; color: #B0DE09"><strong>ASX3</strong></td>
                                    <td style="font-size:12px; color: #0000E5"><strong>ASX4</strong></td>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="font-size:12px"><strong>Company Name</strong></td>
                                    <td style="font-size:12px">{{ cn }}</td>
                                    <td style="font-size:12px">{{ c1 }}</td>
                                    <td style="font-size:12px">{{ c2 }}</td>
                                    <td style="font-size:12px">{{ c3 }}</td>
                                </tr>
                                <tr>
                                    <td style="font-size:12px"><strong>Market Cap</strong></td>
                                    <td style="font-size:12px">{{ markc }}</td>
                                    <td style="font-size:12px">{{ cm1 }}</td>
                                    <td style="font-size:12px">{{ cm2 }}</td>
                                    <td style="font-size:12px">{{ cm3 }}</td>                                
                                </tr>
                            </tbody> 
                            </table>
                        </div>
                    </div>
                </div>
                <!-- sector comparison end -->
            </div>
        </div>
    </section>

    <!-- Historical Section -->
    <section class="success" id="historical">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>- Historical -</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <center><p><i>This section contains historical prices and news articles about your search.</i></p></center><br />
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="name col-md-12">
                    <h4>{{ cn }}<span class="label label-default"> ASX200:{{ cc }}</span></h4>
                </div>                
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">  
                    <h1>   </h1>
                    <h1>   </h1>
                    <p><b>Historical Prices</b></p>
                    <div id="chartdiv2" style = "width:100%; height:500px; font-size:11px; background-color: #FFFFFF;"></div>
                </div>
                <!-- historical price table start -->
                <div class="col-md-7 col-xs-12">                                
                    <h1>   </h1>
                    <h1>   </h1>
                    <p><b>Price and Article Lookup</b></p>
                        <div class="panel panel-default">
                            <table id="example" class="display" cellspacing="0" width="100%">                     
                                <thead> 
                                    <tr>
                                        <th style="color:#000000">Date</th>
                                        <th style="color:#000000">Close</th>
                                        <th style="color:#000000">Open</th>
                                        <th style="color:#000000">High</th>
                                        <th style="color:#000000">Low</th>
                                        <th style="color:#000000">Articles</th>
                                    </tr>
                                </thead> 
                                <tbody>
                                {% for item in qu %}
                                    <tr>
                                        <td style="color:#000000"> {{ item["date"] }} </td>
                                        <td style="color:#000000"> {{ item["close"] }} </td>
                                        <td style="color:#000000"> {{ item["open"] }} </td>
                                        <td style="color:#000000"> {{ item["high"] }} </td>
                                        <td style="color:#000000"> {{ item["low"] }} </td>
                                        <td> <a href="#portfolioModal1" style="color:#000000" class="portfolio-link" data-toggle="modal">[Show]</a> </td>                                                                  
                                    </tr>
                                {% endfor %}
                                </tbody> 
                            </table>
                        </div>
                </div>
                <!-- historical price table end --> 
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="summary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>- Sector Comparison -</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <center><p><i>This section compares the prices and profile of your search to its competitors in the same sector.</i></p></center><br />
                    <br />
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>About this App</h3>
                        <p> Financial News and Prices Search
                            <br>Market Analysis Tool</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About ASX200</h3>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About the Team</h3>
                        <p>Group 13
                        <br>Macquarie University</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Sqwerpy 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Newspaper Mode</h2>
                            <hr class="star-primary">
                            <p><i>This section provides a collection of articles published on the selected date. (currently using test data)</i></p>
                            <div class="panel panel-default">
                                <table class="table">                     
                                    <thead> 
                                    <tr>
                                        <th>Link</th>
                                        <th>Title</th>
                                        <th>Summary</th>
                                        <th>Sentiment</th>
                                    </tr>
                                    </thead> 
                                    <tbody>
                                    {% for item in articles %}
                                    <tr>
                                        <td><strong><a href="{{ item["URL"] }}">Go To Page</a></strong></td>
                                        <td> {{ item["Title"] }} </td>
                                        <td> {{ item["Body"] }} </td>
                                        <td> {{ item["Sentiment"] }} </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody> 
                                </table>
                            </div>

                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="static/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/moment.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- tables JavaScript -->
    
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    
    <!-- Theme JavaScript -->
    <script src="static/js/freelancer.min.js"></script>

    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css">

    <script>
	$(document).ready(function(){

    var today = new Date();
    var past = new Date("2014-10-31")
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();

		var date_input1=$('input[name="from-date"]'); //our date input has the name "date"
		var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
		date_input1.datepicker({
			format: 'yyyy-mm-dd',
			container: container,
			todayHighlight: true,
			autoclose: true,
       startDate: past,
      endDate: today
		}).on('changeDate', function(selected){
        startDate = new Date(selected.date.valueOf());
        startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
        $(date_input2).datepicker('setStartDate', startDate);
    }); 

    var date_input2=$('input[name="to-date"]'); //our date input has the name "date"
		var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";

		date_input2.datepicker({
			format: 'yyyy-mm-dd',
			container: container,
			todayHighlight: true,
			autoclose: true,
      endDate: today
		}).on('changeDate', function(selected){
        endDate = new Date(selected.date.valueOf());
        endDate.setDate(endDate.getDate(new Date(selected.date.valueOf())));
        $(date_input1).datepicker('setEndDate', endDate);
    });
	})
</script>

<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>
    
    
</body>

</html>
