<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>ASX Directory</title>
<link rel="stylesheet" href="{{ url_for('static', filename='ASX.css')">
<style>@import 'https://fonts.googleapis.com/css?family=Raleway';</style>

<script src="jquery-3.1.0.min.js"></script>
<script>
$(document).ready(function() {
	
});
</script>

</head>
<body>

<div id="container">

	<header id="header">
			
			<div id="logo">
			
				<a href="Home.html">&nbsp;</a>
				
			</div>
			
			<div id="topLogin">
			
				<Strong>Welcome!</Strong>
			
			</div>
			
			<div id="links">
			
				<ul id="menu">
			
					<li>
						<a href="/get_code">
							ASX Directory
						</a>
					</li
					
					><li>
						<a href="About.html">
							About This App
						</a>
					</li
				
					><li>
						<a href="Help.html">
							Help Guide
						</a>
					</li>
			
				</ul>
				
			</div>
		
	</header>
			
	<div id="content">
		
		<div id="dataHold">
			
			<div id="innerData">
				
				<form action = "http://localhost:5000/get_code" method = "post">
					<input id="search" type="search" name="search" placeholder="Search">
					<input type="submit" value = "submit">
    				</form>
				
			</div>
			
		</div>
	
	</div>
	
	<footer id="footer">
	
		<ul id="botMenu">
		
			<li class="smallerFont">
				<a href="/">
					SITEMAP
				</a> 
			</li>
			
			<li>
				&nbsp|&nbsp
			</li>
			
			<li class="smallerFont">
				<a href="/">
					CONTACT US
				</a>  
			</li>
			
			<li>
				&nbsp|&nbsp
			</li>
			
			<li class="smallerFont">
				<a href="/">
					ABOUT THIS SITE
				</a> 
			</li>
			
			<li>
				&nbsp|&nbsp
			</li>
			
			<li class="smallerFont">
				<a href="/">
					POWERED BY ERNST & YOUNG
				</a> 
			</li>
			
		
		
		</ul>
	
	</footer>

</div>	

</body>
</html>