<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Sqwerpy - Finance Analysis Toolkit</title>    
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bootstrap/css/boostrap-datetimepicker.min.css">
    <link href="../static/css/style.css" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/moment.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- PlotlyFinance.js -->
    <script src="https://cdn.rawgit.com/etpinard/plotlyjs-finance/master/plotlyjs-finance.js"></script>


    <!-- script for generating plot -->
    <script src="../static/js/plot-data.js"></script>
  </head>
  <body>
    <!-- start header -->

    <nav class="navbar navbar-default col-md-12">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- end header -->

<!-- start name -->
<!-- this div will have company name and company code in it -->
<div class="name col-md-12">
  <h3>{{ company_name }}<span class="label label-default"> ASX200:{{ asx_code }}</span></h3>
</div>
<!-- end name -->

<!-- start dates -->
<!-- TODO: date picking -->
<div class="dates col-xs-12">
            <div class="form-group">
                <div class="col-xs-3">
                <span>From:</span>
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
              </div>
              <div class="col-xs-3">
                <span>To:</span>
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
              </div>
              <div class="col-xs-3">
                <br>
                <button type="submit" class="btn btn-default">Submit</button>
              </div>


            </div>
  </div>

<!-- end dates -->

<!-- start main -->
<div class="main-section col-xs-12">
  <div class="col-md-4 col-xs-12">
    <div class="panel panel-default">
      <!-- Default panel contents: put stuff here from Jinja -->
      <div class="panel-heading">Stock History</div>

      <!-- Table: There would a loop here in Jinja -->
      <table class="table">
        <thead>
          <tr>
            <th>Date</th><th>Low</th><th>High</th><th>Open</th><th>Close</th>
          </tr>
        </thead>
        <!-- start loop here with Jinja -->
        <tbody>
          <tr>
            <th scope="row">01/10/2016</th><td>Mark</td><td>Otto</td><td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">02/10/2016</th><td>Jacob</td><td>Thornton</td><td>@fat</td>
          </tr>
          <tr>
            <th scope="row">03/10/2016</th><td>Larry</td><td>the Bird</td><td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">04/10/2016</th><td>Larry</td><td>the Bird</td><td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">05/10/2016</th><td>Larry</td><td>the Bird</td><td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">06/10/2016</th><td>Larry</td><td>the Bird</td><td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">07/10/2016</th><td>Larry</td><td>the Bird</td><td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">08/10/2016</th><td>Larry</td><td>the Bird</td><td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">09/10/2016</th><td>Larry</td><td>the Bird</td><td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">10/10/2016</th><td>Larry</td><td>the Bird</td><td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">11/10/2016</th><td>Larry</td><td>the Bird</td><td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">12/10/2016</th><td>Larry</td><td>the Bird</td><td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">13/10/2016</th><td>Larry</td><td>the Bird</td><td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">14/10/2016</th><td>Larry</td><td>the Bird</td><td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">15/10/2016</th><td>Larry</td><td>the Bird</td><td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">16/10/2016</th><td>Larry</td><td>the Bird</td><td>@twitter</td>
          </tr>
        </tbody>
        <!-- end loop here with Jinja -->
      </table>
    </div>
  </div>
  <!-- multiple line charts see: http://www.tylernwolf.com/?utm_source=d3_org&utm_medium=demo_link&utm_campaign=d3_website#/portfolio/corrdisp-->
  <div class="main-content col-md-8 col-xs-12">
    <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
  </div>
  <div class="description col-md-8 col-xs-12">
    <div class="well">
      <h5>Market Sentiment: <span class="label label-success">Bullish</span></h5>
      <p>For the duration of 30 days, stock for company BHP Billiton <span class="label label-primary">ASX200: BHP</span> has <span class="label label-success">increased by 5.54%.</span></p>
      <p>For the given time, it showed relatively <span class="label label-success">low volatility</span> of 8.5%, when compared to the ASX200 average of 18.5%, which is 10.0% <span class="label label-success">lower than average</span>. </p>
      <p>High was achieved on 2/10/2014 and was <span class="label label-success">$AU132.50</span>, lowest prices was <span class="label label-danger">$AU146.50</span> on the 1/9/2014. Overall, stock has increased in prices 24 times and decreased in price 6 times.</p>
    </div>
  </div>
</div>
<!-- end main -->

  </body>
</html>
